.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #f2f2f2;
    height: 756px;
    box-sizing: border-box;
    overflow: hidden;
  }